telebot
requests
psutil
telebot
sqlite3
aiosqlite
pyTelegramBotAPI
requests
python-dotenv
Pyrogram
TgCrypto
asyncio
python-telegram-bot
pyTelegramBotAPI
requests
python-dotenv
Pillow
beautifulsoup4
pytz